<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/dash">Home</a>
    <a href="/logout">Logout</a>
    {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
    {% endif %}
    <h1>Add a Trip</h1>
    <form action="/createPlan" method="POST">
        {% csrf_token %}
        <p>Destination: <input type="text" name="dest"></p>
        <p>Description: <input type="text" name="desc"></p>
        <p>Travel Date From: <input type="date" name="startDate" min="{{ date }}"></p>
        <p>Travel Date To: <input type="date" name="endDate" min="{{ date }}"> </p>
        <input type="submit" value="Add">
    </form>
</body>
</html>